@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.textArea {
  width: 50%;
  height: 200px;
  display: block;
  margin: 10% auto 0;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.keyboardBody {
  width: 80%;
  height: 400px;
  margin: 20px auto 0;
}

.keyboardRow {
  width: 100%;
  height: 18.8%;
  margin-bottom: 0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.key {
  width: 5.5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px;
  border-radius: 10px;
  background-color: #0f4061;
  color: #e8eff3;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.key:hover {
  cursor: pointer;
}

.key:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.keyArrow {
  width: 5.5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px;
  border-radius: 10px;
  background-color: #FF8E00;
  color: #0A67A3;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.keyArrow:hover {
  cursor: pointer;
}

.keyArrow:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.keyTAB {
  width: 12%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #FF8E00;
  border-radius: 5px;
  color: #24587A;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

.keyTAB:hover {
  cursor: pointer;
}

.keyTAB:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.keyBACK {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #FF8E00;
  border-radius: 5px;
  color: #24587A;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

.keyBACK:hover {
  cursor: pointer;
}

.keyBACK:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.keyEnter {
  width: 13%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #FF8E00;
  border-radius: 5px;
  color: #24587A;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

.keyEnter:hover {
  cursor: pointer;
}

.keyEnter:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.space {
  width: 51%;
  height: 100%;
  text-align: center;
  border: 1px solid #FF8E00;
  color: #24587A;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

.space:hover {
  cursor: pointer;
}

.space:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.capsLock {
  background-color: #FF8E00;
}

.keyALT_CTRL {
  width: 5.5%;
  height: 100%;
  border: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background-color: #0f4061;
  color: #e8eff3;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.keyALT_CTRL:hover {
  cursor: pointer;
}

.keyALT_CTRL:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.rightShift {
  width: 5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #FF8E00;
  border-radius: 5px;
  color: #24587A;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.rightShift:hover {
  cursor: pointer;
}

.rightShift:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
/*# sourceMappingURL=style.css.map */